:root {
  --secondary: #0d3b66;
  --secondaryDarker: #051a2e;
  --background: #f0fdff;
  --card-bg: #ffffff;
  --text-main: #2e2e2e;
  --text-muted: #6c757d;
  --border: #dadada;
  --highlight: #0da8c7;
  --darker-highlight: #054855;

  --darkBackground: #1f1f1f;
  --dark-card-bg: #2a2a2a;
  --dark-text-main: #ffffff;
  --dark-text-muted: #aaaaaa;
  --dark-border: #333333;

  --stylishFont: "Afacad Flux", serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux", serif;
}
.home-hero {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-color: rgba(5, 26, 46, 0.5);
  background-image: linear-gradient(
    to bottom,
    var(--darker-highlight) 0,
    rgba(0, 0, 0, 0) 100%
  );
}

.home-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background: none 0 0 no-repeat;
  background-size: cover;
  background-position: center center;
}

.main {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -70px;
  height: 160px;
  text-align: center;
}

.heroText h2 {
  max-width: 90%;
  margin: 0 auto;
  color: white;
  font-size: clamp(1rem, 6vw, 4rem);
  font-weight: 900;
}

.heroText p {
  max-width: 90%;
  margin: 0 auto;
  color: var(--highlight);
  font-size: clamp(0.5rem, 3vw, 2rem);
  font-weight: 200;
  font-family: "Afacad Flux", serif;
  font-style: italic;
  letter-spacing: -1px;
}
.heroText p > span {
  background-color: var(--highlight);
  color: black;
  /* clip-path: circle(100% at 50% 50%); */
  border-radius: 50%;
  padding: 5px 15px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
}

.learn-more {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: clamp(0.5rem, 0.9rem, 1rem);
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  animation: opacity 1s linear forwards;
  text-decoration: none;
  cursor: pointer;
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.learn-more::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 16px;
  width: 100%;
  margin: 0 auto;
  filter: invert(1);
  animation: unset;
}

/* HOME MAIN SECTION */
#homeMainContainer {
  max-width: 1220px;
  margin: 0 auto;
}

.welcome {
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--background);
  padding: 4rem 2rem;
  text-align: center;
}

.welcome-content {
  max-width: 800px;
  margin: 0 auto;
}

.welcome h2 {
  font-size: clamp(1rem, 5vw, 3rem);
  color: var(--text-main);
  margin-bottom: 2rem;
}

.brand {
  color: var(--secondaryDarker);
}

.welcome p {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  color: var(--text-muted);
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-family: var(--stylishFont);
  font-style: normal;
  letter-spacing: -1px;
}

.welcome-content span:not(.brand) {
  padding: 0.1rem;
  color: rgba(0, 0, 0, 0.762);
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  font-style: normal;
}

.cta-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 350;
  transition: background-color 0.3s ease;
}

/* FEATURED PROJECTS SECTION */
.featured-projects {
  margin: 3rem auto;
  height: auto;
}

.featured-projects h2,
.testimonials h2,
.location-map h2,
.address h2 {
  text-align: center;
  font-size: clamp(2rem, 4vw, 4rem);
  color: var(--text-main);
  margin-bottom: 2rem;
}

.featured-projects {
  padding: 40px 40px;
  background-color: #f7f7f7;
  max-width: 100%;
  margin: auto;
}

.project-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(30px);
  flex-wrap: nowrap;
}

.project-card.reverse {
  flex-direction: row-reverse;
}

.project-card:hover {
  transform: translateY(0) scale(1.02);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-image {
  width: 50%;
  min-height: 300px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.project-card:hover .project-image img {
  transform: scale(1.05);
}

.project-content {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-content h3 {
  margin-top: 0;
  color: var(--secondary);
}

.project-content p {
  margin: 10px 0;
  color: #555;
}

.see-more-container {
  text-align: center;
  margin-top: 40px;
}

.cta-button,
.see-more-button {
  display: inline-block;
  padding: 20px 100px;
  background-color: var(--highlight);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover,
.see-more-button:hover {
  background-color: var(--darker-highlight);
}

.testimonials {
  background: #fff;
  padding: 60px 20px;
}

.testimonial-item {
  background: #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-item p {
  font-size: 1.2em;
  font-style: italic;
}

.testimonial-item h4 {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: var(--darker-highlight);
}

/* Location Map Section */

.section.location-map {
  background-color: #ecececf6;
  padding: 60px 20px;
  margin-top: 40px;
}

.location-map {
  text-align: center;
  padding: 80px 20px;
  background-color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Map Container */
.map-container {
  width: 100%;
  height: 450px;
  margin-top: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 128, 128, 0.253);
}

.map-container iframe {
  width: 100%;
}
/* Address Section */
.address {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.address h2 {
  margin-top: 100px;
}

.address p {
  font-size: 1.2em;
  color: #444;
  margin: 5px 0;
}
.service-link {
  text-decoration: none;
  color: grey;
  font-weight: 500;
  transition: color 0.3s ease;
}

.service-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

@media screen and (max-width: 790px) {
  nav {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
  }
  .show {
    display: flex;
  }
  .navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navigation li {
    margin: 0.4rem;
    display: block;
  }
  a.active {
    font-size: 12px;
  }
  .navigation li a:hover {
    font-size: 12px;
    color: var(--highlight);
    transition: 0.3s linear;
  }
  #close {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move-up 1s ease-in-out 0s forwards;
  }
  #close svg {
    cursor: pointer;
  }
  @keyframes move-up {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-170%);
    }
  }

  .project-card,
  .project-card.reverse {
    flex-direction: column;
  }

  .project-image,
  .project-content {
    width: 100%;
  }

  .project-image {
    min-height: 200px;
  }

  .footer-grid {
    margin: 0 auto;
    all: unset;
    display: grid;
    grid-template-areas:
      "logo"
      "customers"
      "company"
      "further"
      "follow";
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 1rem;
    text-align: center;
  }
  .brand {
    grid-area: logo;
  }
  .customers {
    grid-area: customers;
  }
  .company {
    grid-area: company;
  }
  .further {
    grid-area: further;
  }
  .social {
    grid-area: follow;
    place-self: center;
    text-align: center;
  }
}
